.FormularioGeneral
{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	border: 10px solid;
	border-color:#85C1E9;
}

.nombres{
	text-align: center;
	background-color: #D1F2EB;
}

form{
	text-align: justify;
	font-family: Trebuchet MS;
	background-color: #EBF5FB;
}
a{
	color: #2874A6;
}
h2{
	background-color:#D1F2EB;
	text-align: center;
}
p{
	font-size: 14.2px;
}